trigger:
  branches:
    include:
      - main

pool:
  name: 'Myselfhostedpool'
  demands: []

variables:
  TF_VERSION: '1.7.0'

stages:
- stage: Terraform
  jobs:
  - job: Deploy
    steps:
      # Install Terraform
      - task: TerraformInstaller@1
        inputs:
          terraformVersion: $(TF_VERSION)
    
      # Terraform Init
      - task: TerraformTaskV1@0
        inputs:
          provider: 'azurerm'
          command: 'init'
          backendServiceArm: 'ARMserviceconn'
          backendAzureRmResourceGroupName: 'rg-new-devanshi'
          backendAzureRmStorageAccountName: 'remotetfstate1234'
          backendAzureRmContainerName: 'mytfstatecontainer'
          backendAzureRmKey: 'terraform.tfstate'
    
      # Validate
      - task: TerraformTaskV1@0
        inputs:
          provider: 'azurerm'
          command: 'validate'
    
      # Plan
      - task: TerraformTaskV1@0
        inputs:
          provider: 'azurerm'
          command: 'plan'
          environmentServiceNameAzureRM: 'ARMserviceconn'
    
      # Apply
      - task: TerraformTaskV1@0
        inputs:
          provider: 'azurerm'
          command: 'apply'
          environmentServiceNameAzureRM: 'ARMserviceconn'
          commandOptions: '-auto-approve'
